body {
    background: black;
    overflow: hidden;
    margin: 0;
}

.software {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.xray-display {
    width: 80%;
    background: url('../images/FrankinDoggie-10k.jpg') no-repeat;
    overflow: hidden;
}

.xray-display img {
    width: 500%;
    transform: translate(-11%, -18%); /* This is for  the head*/
}

.xray-setting {
    width: 20%;
    background: url(../images/dog-x-ray-sidebar.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    /* padding-right: 8%; */
    float: right;
}